{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>"PCG" |  Семинары</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar__body">
                <div class="navbar__logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
                </div>
                <div class="navbar__menu">
                    <a href="{% url 'schedule' %}" class="navbar__link activeLink">Расписание семинаров</a>
                    <a href="{% url 'gallery' %}" class="navbar__link ">Фотогалерея</a>
                    <p class="navbar__link navbar__tel">Заказать звонок</p>
                    <div class="navbar__info">
                        <a href="tel:+77758685628" class="navbar__link">+7 775 868-56-28</a>
                        <a href="mailto:info@pcgroup.kz" class="navbar__link">info@pcgroup.kz</a>
                    </div>
                </div>
                <div class="navbar__burger">
                    <span></span>
                </div>
            </div>
        </div>
    </nav>
    <div class="call__body">
        <h3>Оставьте свой номер и мы с Вами свяжемся!</h3>
        <form action="{% url 'callme' %}">
            <input type="tel" placeholder="+7 (700) 000 0000" required name="call">
            <input type="submit" class="callMeBtn" value="ПОЗВОНИТЕ МНЕ!">
            <a href="#!" class="closeBtn">Закрыть</a>
        </form>
        <p>Пример:</p>
        <p>+7 (000) 123 4567</p>
    </div>
    <header class="header schedule-header">
        <div class="header__blur">
            <div class="container">
                <div class="header__body">
                    <h1>Расписание семинаров</h1>
                    <p>  </br>  </p>
                    <a href="#seminars" class="header_slide-down"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </header>
    <section class="seminars" id="seminars">
        <div class="container">
            <div class="seminars__body">
                <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
                    <thead>
                        <tr>
                            <th scope="col" class="seminar_title">Название</th>
                            <th class="dcf-txt-center" scope="col">янв</th>
                            <th class="dcf-txt-center" scope="col">фев</th>
                            <th class="dcf-txt-center" scope="col">мар</th>
                            <th class="dcf-txt-center" scope="col">апр</th>
                            <th class="dcf-txt-center" scope="col">май</th>
                            <th class="dcf-txt-center" scope="col">июн</th>
                            <th class="dcf-txt-center" scope="col">июл</th>
                            <th class="dcf-txt-center" scope="col">авг</th>
                            <th class="dcf-txt-center" scope="col">сен</th>
                            <th class="dcf-txt-center" scope="col">окт</th>
                            <th class="dcf-txt-center" scope="col">ноя</th>
                            <th class="dcf-txt-center" scope="col">дек</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}

                        <tr>
                            <td class="seminar_name" data-label="Название">{{ row.title }}</td>
                            <td class="dcf-txt-center" data-label="янв">{% if row.jan %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="фев">{% if row.feb %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="мар">{% if row.mar %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="апр">{% if row.apr %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="май">{% if row.may %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="июн">{% if row.jun %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="июл">{% if row.jul %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="авг">{% if row.aug %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="сен">{% if row.sep %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="окт">{% if row.oct %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="ноя">{% if row.nov %}&#10003;{% else %}{% endif %}</td>
                            <td class="dcf-txt-center" data-label="дек">{% if row.dec %}&#10003;{% else %}{% endif %}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <div class="topBtn">
        <i class="fas fa-arrow-up"></i>
    </div>
    <footer class="footer">
        <div class="footer__blur">
            <div class="container">
                <div class="footer__body">
                    <h3>МЫ ВСЕГДА ГОТОВЫ <br>ОТВЕТИТЬ НА ВСЕ ВАШИ <br>ВОПРОСЫ!</h3>
                    <h4>Email: <br>info@pcgroup.kz</h4>
                    <h4>Tel: <br>+7 (727) 346-65-32 <br>+7 775 868-56-28</h4>
                    <h4>WhatsApp: <br> +7 747 288 89 50</h4>
                    <h5>г.Алматы, ул. Биокомбинат 7 (Сатпаева-Байзакова)</h5>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
</body>
</html>